.dashboard-page {
  flex: 1;
  padding: var(--theme-screen-title-padding);
  overflow-y: auto;
}

.dashboard-title {
  font-size: var(--theme-screen-title-font-size);
  font-weight: var(--theme-screen-title-font-weight);
  color: var(--theme-screen-title-color);
  line-height: var(--theme-screen-title-line-height);
  margin: 0;
}
