<?xml version="1.0" encoding="utf-8"?>
<Object parentGuid="9579dee3-3741-4466-9bc7-0688537f97db" user="" versionDate="2022-06-28T23:50:51.0000000Z" lastUpdate="2020-06-08T17:14:14.0000000Z" checksum="57f4c6a54ac6c2246ca724b53a2d9520" fullyQualifiedName="Menu" moduleGuid="afa47377-41d5-4ae8-9755-6f53150aa361" guid="0c372ec2-a6f4-40df-bb18-ca0a197aca15" name="Menu" type="1db606f2-af09-4cf9-a3b5-b481519d28f6" description="Cadastro de Menu" parent="Configuracoes" parentType="00000000-0000-0000-0000-000000000008">
      <Part type="264be5fb-1b28-4b25-a598-6ca900dd059f">
        <Level Name="Menu" Type="Menu" Description="Cadastro de Menu" Guid="0c372ec2-a6f4-40df-bb18-ca0a197aca15">
          <Properties />
          <Attribute key="True" guid="82b36cf7-a282-4cfb-8fd6-47eb2644bc7b">EmpCod</Attribute>
          <Attribute key="True" guid="2ba314f0-2a37-4af7-b484-a08386d04897">MenCod</Attribute>
          <Attribute key="False" guid="14b1360c-6479-4d14-b14c-ec7d0d603d55">MenNom</Attribute>
          <Attribute key="False" guid="b55031bf-47d9-4ebe-a1f7-ac3f8f1f395c">MenCodNom</Attribute>
          <Attribute key="False" guid="bfcfcfb2-79ad-42a4-b500-55f6cb2feb4c" isNullable="True">MenOrd</Attribute>
          <Attribute key="False" guid="4701d01a-dd27-453c-967a-14dd0a494943" isNullable="True">MenIcon</Attribute>
          <Attribute key="False" guid="30d28126-b297-45ff-9861-6eb226f81de5" isNullable="True">MenSubTit</Attribute>
          <Level Name="SubMenu" Type="SubMenu" Description="Sub Menu" Guid="3cab0b7b-047f-48b7-8eb4-cc91d7c87ebc">
            <Properties />
            <Attribute key="True" guid="c0168db7-c974-496d-ad87-a10f0a7e741a">SubMenCod</Attribute>
            <Attribute key="False" guid="763c0fe1-e38f-41d7-a682-288ac610bb43">SubMenNom</Attribute>
            <Attribute key="False" guid="d2d8e42a-350d-4191-afe2-a759e0f0be1e">SubMenCodNom</Attribute>
            <Attribute key="False" guid="0495f05b-4374-4fe6-a5e7-dfef28eae91f" isNullable="True">SubMenOrd</Attribute>
            <Attribute key="False" guid="cf2677c9-214f-47a3-af8a-4b2f01511acf" isNullable="True">SubMenIcon</Attribute>
            <Attribute key="False" guid="e685c21f-87a6-4fce-bc6b-70b6600ac912" isNullable="True">SubMenSubTit</Attribute>
          </Level>
        </Level>
        <Properties><Property><Name>IsDefault</Name><Value>False</Value></Property></Properties>
      </Part>
      <Part type="d24a58ad-57ba-41b7-9e6e-eaca3543c778">
        <Properties><Property><Name>IsDefault</Name><Value>True</Value></Property><Property><Name>Defaults</Name><Value>gx:TrnDefaultWebForm.dkt</Value></Property></Properties>
      </Part>
      <Part type="4c28dfb9-f83b-46f0-9cf3-f7e090b525d5">
        <Properties><Property><Name>IsDefault</Name><Value>True</Value></Property><Property><Name>Defaults</Name><Value>gx:TrnDefaultWinForm.dkt</Value></Property></Properties>
      </Part>
      <Part type="9b0a32a3-de6d-4be1-a4dd-1b85d3741534">
        <Source><![CDATA[]]></Source>
        <Properties><Property><Name>IsDefault</Name><Value>False</Value></Property></Properties>
      </Part>
      <Part type="c44bd5ff-f918-415b-98e6-aca44fed84fa">
        <Source><![CDATA[
Event Start

	Dashboard.Link()

EndEvent
]]></Source>
        <Properties><Property><Name>IsDefault</Name><Value>False</Value></Property></Properties>
      </Part>
      <Part type="e4c4ade7-53f0-4a56-bdfd-843735b66f47">
        <Variable Name="Context">
          <Documentation />
          <Properties><Property><Name>Name</Name><Value>Context</Value></Property><Property><Name>ATTCUSTOMTYPE</Name><Value>sdt:wwpContext, WWPBaseObjects</Value></Property></Properties>
        </Variable>
        <Variable Name="TrnContext">
          <Documentation />
          <Properties><Property><Name>Name</Name><Value>TrnContext</Value></Property><Property><Name>ATTCUSTOMTYPE</Name><Value>sdt:WWPTransactionContext, WWPBaseObjects</Value></Property></Properties>
        </Variable>
        <Variable Name="WebSession">
          <Documentation />
          <Properties><Property><Name>Name</Name><Value>WebSession</Value></Property><Property><Name>ATTCUSTOMTYPE</Name><Value>ext:WebSession</Value></Property></Properties>
        </Variable>
        <Variable Name="IsAuthorized">
          <Documentation />
          <Properties><Property><Name>Name</Name><Value>IsAuthorized</Value></Property><Property><Name>ATTCUSTOMTYPE</Name><Value>bas:Boolean</Value></Property></Properties>
        </Variable>
        <Variable Name="SecurityFunctionalityKeys">
          <Documentation />
          <Properties><Property><Name>Name</Name><Value>SecurityFunctionalityKeys</Value></Property><Property><Name>idBasedOn</Name><Value>Domain:SecGAMFunctionalityKey</Value></Property><Property><Name>AttCollection</Name><Value>True</Value></Property></Properties>
        </Variable>
        <Variable Name="ActionsData">
          <Documentation />
          <Properties><Property><Name>Name</Name><Value>ActionsData</Value></Property><Property><Name>ATTCUSTOMTYPE</Name><Value>sdt:DVB_SDTDropDownOptionsData, WWPBaseObjects</Value></Property></Properties>
        </Variable>
        <Variable Name="ActionsDataItem">
          <Documentation />
          <Properties><Property><Name>Name</Name><Value>ActionsDataItem</Value></Property><Property><Name>ATTCUSTOMTYPE</Name><Value>sdt:DVB_SDTDropDownOptionsData.Item, WWPBaseObjects</Value></Property></Properties>
        </Variable>
        <Variable Name="AuditingObject">
          <Documentation />
          <Properties><Property><Name>Name</Name><Value>AuditingObject</Value></Property><Property><Name>ATTCUSTOMTYPE</Name><Value>sdt:AuditingObject, WWPBaseObjects</Value></Property></Properties>
        </Variable>
        <Properties><Property><Name>IsDefault</Name><Value>False</Value></Property></Properties>
      </Part>
      <Part type="ad3ca970-19d0-44e1-a7b7-db05556e820c">
        <Help>
          <HelpItem>
            <Language>88313f43-5eb2-0000-0028-e8d9f5bf9588-Portuguese</Language>
            <Content />
          </HelpItem>
        </Help>
        <Properties><Property><Name>IsDefault</Name><Value>False</Value></Property></Properties>
      </Part>
      <Part type="babf62c5-0111-49e9-a1c3-cc004d90900a">
        <InnerHtml><![CDATA[]]></InnerHtml>
        <Properties><Property><Name>IsDefault</Name><Value>False</Value></Property></Properties>
      </Part>
      <Properties><Property><Name>Name</Name><Value>Menu</Value></Property><Property><Name>Description</Name><Value>Cadastro de Menu</Value></Property><Property><Name>Theme</Name><Value>c804fdbd-7c0b-440d-8527-4316c92649a6-WorkWithPlusTheme</Value></Property><Property><Name>IsDefault</Name><Value>False</Value></Property></Properties>
    </Object>